$lh:50px;
$sh:50px;
$mh:50px;
$lw:250px;
$sw:150px;
$mw:200px;
$background_button: cyan;
$flat_border:none;
$flat_padding:6px 0 6px 0;
$flat_border_radius:8px;
$flat_font:bold 13px Arial;
$flat_color:#fff;
$_outline_border: red solid 1px;
$outline_color:white;
$outline_border_radius:8px;

@mixin size{
    &.large {
      height: $lh;
      width: $lw;
    }
    &.medium {
      height: $mh;
      width: $mw;
    }

    &.small {
      height: $sh;
      width: $sw;
    }
}

@mixin style{
    &.flat{
      border:$flat_border;
      padding:$flat_padding;
      border-radius:$flat_border_radius;
      background:#d34836;
      font: $flat_font;
      color:$flat_color;
    }
    &.outline{
      background-color: $outline_color;
      border-radius: $outline_border_radius;
      border: $_outline_border;
    }
}
@mixin button {
    @include style;
    @include size;
}
button{
  @include button
}

