$display: flex;
$padding:1%;
$flexd:row;
$margl:2%;

@mixin alert_content{
  .alert{
    padding:$padding;
    display: $display;
    flex-direction: $flexd;
    &>p{
      margin-left:$margl;
    }
  }
}

@mixin color($couleur){
  background-color: $couleur;
}

@mixin alert_color($color_danger,$color_info,$color_success,$color_info,$color_warning){

  .alert-success{
    @include color($color_success);
  }
  .alert-warning{
    @include color($color_warning);
  }

  .alert-danger{
    @include  color($color_danger);
  }
  .alert-info{
    @include color($color_info);
  }
}

@mixin alert{
  @include alert_content;
  @include alert_color($color_danger,$color_info,$color_success,$color_info,$color_warning);
}

